<h1>Welcome</h1>
<p>Halo! <%= user %></p>

<p> What do you want to do? </p>
    <a href="/api/restaurant">Display my restaurant documents</a><br>
    <a href="/api/create">Create new restaurant documents</a><br>
    <a>You can search by name, borough, cuisine or borough.</a><br>
<p> Logout <a href="/users/logout">Logout</a></p>